@model IEnumerable<ZenithDataLib.Models.Event>

@{
    ViewBag.Title = "Zenith Society Events";
}

<style>
    .events-table th {
        background-color: #E8EAF6;
    }


    .jumbotron {
        background: white;
    }
</style>

<div class="jumbotron mdl-card mdl-shadow--2dp" style="width: auto">
    <h1>Zenith Society</h1><br />
    <p class="lead mdl-color-text--grey" style="font-style: italic;">
        The Zenity Society is a family-oriented non-for-profit organization that holds events
        during the week. Check out our upcoming events below!
    </p>
</div>

<div class="jumbotron mdl-card mdl-shadow--2dp" style="width: auto;">
    <h1>Events This Week</h1><br />
    <table class="events-table mdl-data-table mdl-js-data-table  mdl-shadow--2dp">
        @*<thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Date</th>
                    <th>Event</th>
                </tr>
            </thead>*@
        <tbody>
            @{
                System.DateTime lastDate = new DateTime(2000, 01, 01);
            }

            @foreach (ZenithDataLib.Models.Event item in Model)
            {

                if (!item.FromDate.Date.Equals(lastDate.Date))
                {
                    <tr>
                        <th colspan="3" style="text-align: center">
                            @Html.ValueFor(modelItem => item.FromDate, "{0:D}")
                            @*@Html.Raw(item.FromDate.DayOfWeek + " " + item.FromDate.Month + " " + item.FromDate.Day + ", " + @item.FromDate.Year)*@
                        </th>
                    </tr>

                    lastDate = item.FromDate;

                }
                <tr>

                    <td colspan="2">
                        @*@Html.Raw(item.FromDate.ToString() + " " + item.ToDate.ToString());*@
                        @Html.ValueFor(modelItem => item.FromDate, "{0:t}")
                        -
                        @Html.ValueFor(modelItem => item.ToDate, "{0:t}")


                        @*@Html.DisplayFor(modelItem => item.FromDate.ToShortTimeString())*@
                        @*@Html.DisplayFor(modelItem => item.ToDate.ToShortTimeString())*@
                    </td>
                    <td style="text-align: left">
                        @*@Html.Raw(item.ActivityCategory.ActivityDescription.ToString());*@
                        @Html.DisplayFor(modelItem => item.ActivityCategory.ActivityDescription)
                    </td>


                </tr>

            }

    </table>



</div>
